.App {
  position: relative;
  text-align: center;
  background-color: lightgrey;
  width: 1202px;
  min-height: 902px;
  height: 1002px;
}

.content {
  position: absolute;
  background: lightgrey;
  margin: 150px 82.5px;
  width: 1034px;
  min-height: 600px;
}

.wrapperControls {
  width: 194px;
  min-height: 600px;
  background-image: url(./images/wrapperControls2.png);
  float: left;
}

.wrapperForm {
  justify-content: center;
  float: left;
  background-color: white;
  color: #48a5ea;
  padding: 40px;
  text-align: left;
  min-height: 600px;
  width: 840px;
}